### In Python, a data type is an attribute of data that tells the interpreter or compiler how the programmer intends to use the data. It defines the type of operations that can be performed on the data and the values that the data can take. Python is a dynamically-typed language, meaning that the data type of a variable is interpreted at runtime.

### Here are some common data types in Python:

## Numeric Types:
### int: Integer data type, e.g., x = 5.
### float: Floating-point or decimal numbers, e.g., y = 3.14.
### complex: Complex numbers, e.g., z = 2 + 3j.


## Sequence Types:
### str: String, a sequence of characters, e.g., text = "Hello".
### list: Ordered collection of items, e.g., my_list = [1, 2, 3].
### tuple: Immutable ordered collection, e.g., my_tuple = (1, 2, 3).
### Set Types:
### set: Unordered collection of unique items, e.g., my_set = {1, 2, 3}.


## Mapping Type:
### dict: Dictionary, a collection of key-value pairs, e.g., my_dict = {'key': 'value'}.

### Boolean Type:
### bool: Boolean, representing True or False.

## None Type:
### NoneType: Represents the absence of a value, similar to null in other languages, e.g., x = None.

## Sequence Types (Advanced):
### bytes: Immutable sequence of bytes, e.g., b = b'hello'.
### bytearray: Mutable sequence of bytes, e.g., ba = bytearray([65, 66, 67]).
### memoryview: A view object that exposes an arrayâ€™s buffer interface, e.g., mv = memoryview(b).


## Other Types:
### datetime: Date and time, e.g., import datetime.
### function: A callable object, e.g., def my_function():.
### class: User-defined types created using the class keyword.

# # Numeric Data_type.

# 1. Integer datatype

In [1]:
# Numeric Data_type.

# 1. Integer datatypes. Integers are data types that represent whole numbers.
# Examples.

x = 5
print(x)

5

In [2]:
a = 4 # In this case, numeric values are assigned to a variable. Hence, this is an example of an integer data_type.
b = 10

c = b - a
print(c)

6

In [4]:
print(type(b)) # To print the data type of b, we use the command - type(variable).

<class 'int'>

# 2. Float Data_type

In [6]:
# Float or floating-point is a data type that has decimal numbers. For example,

pi = 3.14
print(pi)
print(type(pi)) # In this case, the data type will be a floating point data type.

3.14
<class 'float'>

# 3. Complex Data_type

In [12]:
# Complex data_types have alphanumeric characters in their dataset. For example:

abc = 4 + 6j
print(abc)
print(type(abc))

(4+6j)
<class 'complex'>

In [18]:
abb = 4.3 + 3j
print(type(abb))

<class 'complex'>

# Sequence Data_type

# 1. String data_type

In [20]:
# Strings are identified as a contigious set of characters represented in a quotation mark.
# Python allows for either single or double quote.

python = 'Hello'
java = "World"
print(f"{python} {java}.")
print(type(python))

Hello World.
<class 'str'>

# 2. List data_types

In [23]:
# A list is an ordered collection of items, e.g.
my_list = [1, 2, 3] # List are placed in brackets = []

print(type(my_list))

<class 'list'>

In [24]:
my_list

[1, 2, 3]

In [25]:
# Numbers can be added to a list using the append() function
my_list1 = my_list.append(12)
print(my_list1)

None

In [30]:
my_list

[1, 2, 3, 12]

In [33]:
my_list2 = [2,2,3,4,4,5,6,7]
print(my_list2)

[2, 2, 3, 4, 4, 5, 6, 7]

# 3. Tuple data_types

In [32]:
# Tuples are immutable ordered collection, e.g.

tup_1 = (2,3,4,2,2,5,4) # Tuples are embedded in a parenthesis and most times are only seperated by a comma(,)

print(type(tup_1))
print(tup_1)

<class 'tuple'>
(2, 3, 4, 2, 2, 5, 4)

In [34]:
# Unlike the List, tuples are immutable. meaning items in a tuple dataset they can not be added or rempved.
tup_2 = tup_1.append(12)
print(tup_1)

AttributeError: 'tuple' object has no attribute 'append'

# Set Types

# Set data_types

In [36]:
# Set is an unordered collection of unique items embedded in a curly bracket {},, e.g.

set_1 = {1,2,3}

print(type(set_1))

<class 'set'>

In [37]:
set_2 = {1,2,2,3,3,5,6,7,5}
print(set_2) # In set, items that repeats or duplicated items are shown as one in the output.

{1, 2, 3, 5, 6, 7}

# The Mapping Data_Type

# 1. Dictionary data_type

In [39]:
# Dictionary, a collection of key-value pairs, e.g., 
my_dict = {'key': 'value'}
print(my_dict)
print(type(my_dict))

{'key': 'value'}
<class 'dict'>

# 2. Boolean Data_type

In [40]:
# Boolean, representing True or False. The Boolean data type shows if a condition meet its reuirement.

a = 1
a == 1

True

In [42]:
True + 1

2

In [44]:
print(type(True))

<class 'bool'>