In [1]:
def median (a,b,c):
    if a>=b and a<=c or a<=b and a>=c:
        return a
    if b>=a and b<=c or b<=a and b>=c:
        return b
    if c>=a and c<=b or c<=a and c>=b:
        return c
    
median(2,4,6)

4

In [8]:
def get_ordinal(number):
    if number not in [1,2,3,4]:
        return ""
    ordinal_dict={1:"First", 2:"Second", 3:"Third", 4:"Fourth"}
    return ordinal

get_ordinal(3)

{1: 'First', 2: 'Second', 3: 'Third', 4: 'Fourth'}

In [19]:
def add_3(x, y=0,z=0):
    add=x+y+z
    return add

add_3(3,4)

7

In [20]:
def add_3(x, y=0,z=0):
    add=x+y+z
    return add
add_3(1)

1

In [21]:
def add_3(x, y=0,z=0):
    add=x+y+z
    return add

add_3(4,6,10)

20

In [31]:
def add_mult(*a):
    add = 0
    for i in a:
        add = add + i
    return add

add_mult(3,2,4,5,33,2,11)

60

In [50]:
import random as rd
def random_password():
    password = rd.randint(7,11)
    for i in range(password):
        random_characters = chr (randint(33,127))
        password = password + random_characters
    return password

def random_password():
    print("Your random password is:", random_password)
if  __name__   == "__main__":
   main()

Your random password is: <function random_password at 0x000001AACDBF5620>

# 20TH SEPTEMBER 2023

# Lambda expression or anonymous functions

In [1]:
area_of_triangle = lambda base,heights: 0.5*(base)*(heights)
area_of_triangle (4,5)

10.0

In [17]:
numbers = [4,5,3,45,34,12]
sum_of_numbers = 0
for number in numbers:
    sum_of_numbers = sum_of_numbers+number
print(sum_of_numbers)

103

In [ ]:
numbers = [4,5,3,45,34,12]
for number in numbers:
    square=number**2
    saures

In [19]:
list(map(lambda x: 3*x-2*x**2, [3,2,5,10,25,30]))

[-9, -2, -35, -170, -1175, -1710]

In [24]:
def shipping_cost(number_of_items):
    if number_of_items==1:
        return round(10.95,2)
    else:
        return round(10.95+(number_of_items-1)*2.95,2)

shipping_cost(4)

19.8

In [28]:
shipping_cost(2)

13.899999999999999

In [26]:
shipping_cost(5)

22.75

In [30]:
shipping_cost(2)

13.899999999999999

# lambda inputs : function_body

In [32]:
shipping_cost_4=lambda x: 10.95+(x-1)*2.95 # The lambda expression helps to declare a variable ones.

shipping_cost_4(3)

16.85

In [33]:
shipping_cost(7)

28.650000000000002

In [34]:
sum_2= lambda x,y: x+y # In this case, lambda are given more than one parameters.
sum_2(34,1)

35

In [18]:
num = int(input("Enter number: "))
for num in range(1,50):
    if num % 2 ==0:
        print(f"{num} is even")
        break
    else:
        print(f"odd")

Enter number: 2
odd
2 is even