In [20]:
# there are two classes of database.
# Relational database and non-relational database. Relational database work with Structured Query Language.
# We use what is called records, records are made of tables, tables -record, record - fields, fields -characters, characters are made up of bits
# foreign keys are used in linking tables. Foreign keys are unique because they are used to link one or more tables,primary keys have no unique featuures.

import sqlite3 as sqlite
connection = sqlite.connect("studentss.db")
connection.execute("CREATE TABLE students(mat TEXT, age INT, name TEXT)")
connection.close()

In [21]:
conn = sqlite.connect("studentss.db")
conn.execute('INSERT INTO students (mat, age, name) VALUES ("U2016/5735092", 25, "John Doe")')
conn.commit()
conn.close()

In [22]:
conn = sqlite.connect("studentss.db")
curs = conn.cursor()
content = curs.execute("SELECT * FROM students")
print(content)
for record in content:
    print(record)
conn.close()

<sqlite3.Cursor object at 0x0000023697F240C0>
('U2016/5735092', 25, 'John Doe')

In [28]:
conn = sqlite.connect("statess.db")
conn.execute ("CREATE TABLE states (state TEXT PRIMARY KEY, count INT NOT NULL)")

conn.close()

In [33]:
conn = sqlite.connect("statess.db")
conn.execute('INSERT INTO states (state, count) VALUES("Abia", "45")')
conn.commit()
conn.close()

In [3]:
import sqlite3 as sqlite
conn = sqlite.connect("bank_account.db")
conn.execute('CREATE TABLE bank_account(name TEXT, age INT, address TEXT)')
conn.close()

In [4]:
conn = sqlite.connect("bank_account.db")
conn.execute('INSERT INTO bank_account(name, age, address) VALUES ("Eze", "30", "Abuja")')
conn.commit()
conn.close()

In [5]:
conn = sqlite.connect("bank_account.db")
curs = conn.cursor()
stuff = curs.execute("SELECT * FROM bank_account")
print(stuff)
for record in stuff:
    print(record)
conn.close()

<sqlite3.Cursor object at 0x00000265F078DD40>
('Eze', 30, 'Abuja')

In [9]:
import sqlite3 as sqlite
conn = sqlite.connect("classlists.db")
conn.execute("CREATE TABLE class (name TEXT, age INT, gender TEXT)")
conn.close()

OperationalError: table class already exists

In [10]:
conn = sqlite.connect("classlist.db")
conn.execute('INSERT INTO class (name, age, gender) VALUES ("Blessing", 20, "female")')
conn.commit()
conn.close()

In [11]:
conn = sqlite.connect("classlist.db")
curs = conn.cursor()
content = curs.execute("SELECT age from class")
print(content)
for i in content:
    print(i)
conn.close()

<sqlite3.Cursor object at 0x0000021FE0891940>
(20,)

In [12]:
conn = sqlite.connect("classlist.db")
curs = conn.cursor()
content = curs.execute("SELECT * from class")
print(content)
for i in content:
    print(i)
conn.close()

<sqlite3.Cursor object at 0x0000021FE089F4C0>
('Blessing', 20, 'female')

In [13]:
conn = sqlite.connect("classlist.db")
conn.execute('INSERT INTO class (name, age, gender) VALUES ("John", 25, "Male")')
conn.commit()
conn.close()

In [14]:
conn = sqlite.connect("classlist.db")
curs = conn.cursor()
content = curs.execute("SELECT * from class")
print(content)
for i in content:
    print(i)
conn.close()

<sqlite3.Cursor object at 0x0000021FE083BE40>
('Blessing', 20, 'female')
('John', 25, 'Male')

In [15]:
conn = sqlite.connect("classlist.db")
conn.execute('INSERT INTO class (name, age, gender) VALUES ("Mary", 24, "female")')
conn.commit()
conn.close()

In [16]:
conn = sqlite.connect("classlist.db")
conn.execute('INSERT INTO class (name, age, gender) VALUES ("Steven", 21, "Male")')
conn.commit()
conn.close()

In [17]:
conn = sqlite.connect("classlist.db")
curs = conn.cursor()
content = curs.execute("SELECT name from class")
print(content)
for i in content:
    print(i)
conn.close()

<sqlite3.Cursor object at 0x0000021FE089C5C0>
('Blessing',)
('John',)
('Mary',)
('Steven',)

In [18]:
conn = sqlite.connect("classlist.db")
curs = conn.cursor()
content = curs.execute("SELECT * from class")
print(content)
for i in content:
    print(i)
conn.close()

<sqlite3.Cursor object at 0x0000021FE089F5C0>
('Blessing', 20, 'female')
('John', 25, 'Male')
('Mary', 24, 'female')
('Steven', 21, 'Male')